/* ---  GLOBAL  --- */

* {
  box-sizing: border-box;
}

body {
  background: url(mountains.jpg);
  width: 100%;
  height: 4042px;
  left: 0px;
  top: 493px;
  margin: 0;
  font-family: "Shadows Into Light Two", serif;
}

.tsitaat {
  display: flex;
  justify-content: left;
  text-shadow: 0px 3px 4px black, 0 0 0.2px rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 250px;
  letter-spacing: 1.5px;
}

.common-container {
  display: flex;
  padding-top: 2%;
}

.container {
  background-color: rgba(103, 103, 103, 0.46);
  box-shadow: 0px -1px 6px gray, 0px 1px 6px gray, 1px 0px 6px gray,
    -1px 0px 6px gray;
  display: grid;
  width: 10%;
  letter-spacing: 1.5px;
}

.container h3 {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  text-align: center;
  width: 150px;
  height: 35px;
  margin-bottom: 50px;
}

.container h3 a {
  text-decoration-line: none;
  color: black;
  transition: color 0.2s;
}

.container h3 a:hover {
  color: #666;
}

.title-gallery {
  margin-bottom: 50px;
  margin-top: 50px;
}

#kasutajanimi {
  width: 150px;
  height: 25px;
}

#parool {
  width: 150px;
  height: 25px;
  margin-bottom: 50px;
}

.container-right {
  display: grid;
  width: 90%;
  padding-left: 0;
  letter-spacing: 1.5px;
}

.round {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background: url(naine0.jpg) no-repeat 0px 0;
  background-size: 350px;
  margin-left: 35%;
  margin-bottom: 0%;
  margin-top: 0%;
  border: 3px rgba(83, 83, 83, 0.65);
  box-shadow: 0 0 15px #666;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 53%;
}

.description h1 {
  text-shadow: 0px 3px 4px black, 0 0 0.2px rgb(0, 0, 0);
  margin-bottom: 0px;
}

.description p {
  text-align: justify;
  width: 450px;
  background-color: rgb(0, 0, 0, 0.46);
  padding-left: 5px;
  box-shadow: 0px -1px 6px gray, 0px 1px 6px gray, 1px 0px 6px gray,
    -1px 0px 6px gray;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
}

.info h2 {
  margin-top: 0px;
  text-shadow: 0px 3px 4px black, 0 0 0.2px rgb(0, 0, 0);
}

.info h3 {
  background-color: rgba(0, 0, 0, 0.46);
  box-shadow: 0px -1px 6px rgb(0, 0, 0, 0.35), 0px 1px 6px rgb(0, 0, 0, 0.35),
    1px 0px 6px rgb(0, 0, 0, 0.35), -1px 0px 6px rgb(0, 0, 0, 0.35);
  margin-top: 0px;
  width: 200px;
  padding-left: 5px;
}

.info h3 {
  color: white;
}

/* ----  GALLERY CONTENT  ---- */

.gallery h1 {
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.46);
  box-shadow: 0px -1px 6px rgb(0, 0, 0, 0.35), 0px 1px 6px rgb(0, 0, 0, 0.35),
    1px 0px 6px rgb(0, 0, 0, 0.35), -1px 0px 6px rgb(0, 0, 0, 0.35);
  padding-bottom: 35px;
  padding-top: 20px;
  letter-spacing: 1.5px;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.gallery .image-wrapper {
  flex-basis: 40%;
  margin-left: 7%;
  margin-bottom: 40px;
  margin-top: 10px;
}

.gallery img {
  transition: width 2s, height 2s;
}

.gallery img:hover {
  width: 750px;
  height: 500px;
}

.gallery img {
  object-fit: cover;
  width: 80%;
  box-shadow: 0 0 13px rgba(0, 0, 0, 25);
  border-radius: 30px;
}

/* ---  FOOTER  --- */

.more {
  background-color: rgba(103, 103, 103, 0.46);
  color: white;
  padding-bottom: 15%;
  letter-spacing: 1.5px;
}

.more h1 {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.46);
  padding-bottom: 35px;
  padding-top: 20px;
}

.what-i-do h3 {
  margin-left: 20%;
}

.what-i-do p {
  text-align: justify;
  width: 400px;
  margin-left: 20%;
}

.code h3 {
  margin-left: 60%;
}

.code p {
  text-align: justify;
  width: 400px;
  margin-left: 60%;
}

.kontakt {
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.46);
  padding-bottom: 35px;
  padding-top: 20px;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.contact-info {
  display: flex;
  color: white;
  text-align: justify;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 5%;
  letter-spacing: 1.5px;
}

.contact-info__left table tr td:first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  letter-spacing: 1.5px;
  padding-top: 35%;
}
